
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-1 h1" routerLink="" style="cursor: pointer;">Employee Management System</span>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://github.com/tejasmatkar257">Created by Tejas Matkar</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->