.outercontainer {
    background: linear-gradient(to bottom right, #33ccff 0%, #ff5050 100%);
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.Title{
    font-size: large;
    text-align: center;
    font-weight: 900;
    color: brown;
}
.container{
  background-color: white;
  border: 1px solid black;
  padding: 50px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-height: max-content;
  border-radius: 10px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.grid {
    display: grid;
    grid-template-columns: 100px 550px;
    grid-gap: 10px;
  }
  .profile_picture{
    width: 100px;
    border-radius: 10%;
    float: right;
    border: 1px black;
    cursor: pointer;
}
.btn{
    width:150px ;
    height: 40px;

}