/* .black-border{
    border: 1px solid;
} */

main{
    width: 90%;
    margin: 3rem auto 0px;
}
.toolbar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-heading h6{
    border-top: 1px solid black;
    background-color: white;
    font-size: small;
    font-weight: 600;
    
}

.modal-content{
    margin-top: auto;
    margin-bottom: auto;
}

.add-employee{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-employees{
    width: 50%;
    height: 90%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(34,34,34,0.5);
}
.search-employees input{
    width: 100;
    height: 100%;
    border-radius: 1rem;
    font-size: 1.3rem;
}
.employees{
    border: 1px solid;
}
